{% extends 'base.html' %}


{% block content %}
<h2 class="text-align:center">{{ search | title}}</h2>
<div class="row">
    {% for post in final_posting %}
    <div class="col s4">
        <div style="width:350px; height:500px;">
        <div class="card">
        <div class="card-image">
            <a href="{{ post.1 }}"><img src="{{ post.3 }}" alt="" style="width:300px;height:300px;"></a>
        </div>
        <div class="card-content">
            <p>{{ post.0 }}</p>
        </div>
        <div class="card-action">
          <a href="{{ post.1 }}">View Listing : Price {{ post.2 }}</a>
        </div>
      </div>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
